div {
    height: 200px;
    width: 200px;
    background-color: orange;
    position: relative;
    /* top, right, bottom, left */
    top: 100px;
    /* right: 100px; */
    /* bottom: 100px; */
    left: 400px;
}