h1 {
    color: yellow;
    background-color: black;
}

h2 {
    color: blue;
    background-color: black;
}

h3 {
    color: red;
    background-color: black;
}

h4 {
    color: aqua;
    background-color: black;
}

h5 {
    color: chartreuse;
    background-color: black;
}

h6 {
    color: deeppink;
    background-color: black;
}