.classOne {
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 5px;
}

.classTwo {
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 5px;
}

.classThree {
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 5px;
}