.right {
    float: right;
}

ul {
    padding-left: 0;
    list-style-type: none;
    position: relative;
    bottom: 20px;
}

li {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: green;
}

a {
    color: white;
    text-decoration: none;
}


/* Si en su interior existe una etiqueta con display
block no va a funcionar el display inline como es el
caso de la etiqueta del h1 del titulo de la imagen*/


/* Si bien Img es de displa inline, la etiqueta h1 no 
lo es, por ende estan en block, por que la
etiqueta h1 esta en el interior de .image-block */


/* text-aling me sirve para alinear texto e imagenes */

.image-block {
    text-align: center;
}